@page
@model WebApplication1.NewsModel
@{
    ViewData["Title"] = "News";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <h1>News Headlines</h1>


    @foreach (var story in Model.apiresult.articles)
    {

        <a href=@story.url target="_blank">
            <img src=@story.urlToImage style="width:100%">
            <div class="caption">
                <p>@story.content</p>
                <p>
                    Written By: @story.author on @story.publishDate.ToShortDateString()
                </p>
            </div>
        </a>





    }

</body>
<head>
    <meta charset="utf-8">
</head>
</html>







