@page
@model WebApplication1.NewsModel
@{
    ViewData["Title"] = "News";
}



<h1>News Headlines</h1>


@foreach (var story in Model.apiresult.articles)
{

    <div class="container">

        <a href=@story.url target="_blank">

            <div class="row">

                <div class="col-md-4">

                    <img src=@story.urlToImage class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>@story.content</p>
                        <p>
                            Written By: @story.author on @story.publishDate.ToShortDateString()
                        </p>
                    </div>

                </div>

            </div>

        </a>

    </div>

}









