@page
@model WebApplication1.NewsModel
@{
    ViewData["Title"] = "News";
}

<h1>News Headlines</h1>

<ul>



    @foreach (var story in Model.apiresult.articles)
    {
    <li>
        <h2>
            @story.title

        </h2>
        <img src=@story.urlToImage/>
        <p>
            @story.content

        </p>
        <p>
            Written By: @story.author on @story.publishDate.ToShortDateString()
            <a href=@story.url>Click me to read more about this post.</a>
        </p>
        
    </li>
    }




</ul>

