@page
@model WebApplication1.NewsModel
@{
    ViewData["Title"] = "News";
}


<h1>News Headlines</h1>





<div class="container">
    <div class="row">


        @foreach (var story in Model.apiresult.articles)
        {
            <div class="col-sm-4">
                <a href=@story.url target="_blank">
                    <img src=@story.urlToImage class="img-thumbnail" style="width:100%">
                    <div class="caption">
                        <p>@story.content</p>
                        <p>
                            Written By: @story.author on @story.publishDate.ToShortDateString()
                        </p>
                    </div>

                </a>
            </div>

        }
    </div>
</div>








